<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Info.Properties.Settings.db_infoConnectionString"
            connectionString="Data Source=DESKTOP-A1PIAMK;Initial Catalog=db_info;User ID=sa;Password=C#&amp;&amp;JS;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
</configuration>
